# DataSet : The Federal Bank

Import Libraries
----

In [5]:
import pandas as pd
import numpy as np

Read dataset

In [6]:
df = pd.read_csv("data.csv")

Fetching Date and Close columns from NSE data

In [7]:
nse = df[['Date','Close']]

Read bank data

In [8]:
df1 = pd.read_csv("Indices_TheFederalBank.csv")

Fetch Date and Close Price column from bank data

In [10]:
fed_bk = df1[['Date','Close Price']]

Shape of data

In [11]:
fed_bk.shape

(246, 2)

Merging 2 datasets for beta calculations

In [22]:
nse=nse.merge(fed_bk, left_on='Date', right_on='Date')
nse.head()

          Date     Close  Close Price_x    Return  Return NSE  Close Price_y
0  01-Dec-2017  10121.80         108.50       NaN         NaN         108.50
1  04-Dec-2017  10127.75         106.40 -1.935484    0.058784         106.40
2  05-Dec-2017  10118.25         108.05  1.550752   -0.093802         108.05
3  06-Dec-2017  10044.10         107.95 -0.092550   -0.732834         107.95
4  07-Dec-2017  10166.70         109.70  1.621121    1.220617         109.70

In [13]:
nse[0:1][['Close']]

     Close
0  10121.8

In [14]:
nse.shape

(246, 3)

Calculating % changes from last row value and adding corresponding columns to the data

In [15]:
nse['Return'] = (nse['Close Price'].pct_change()[1:])*100

In [16]:
nse['Return NSE'] = (nse['Close'].pct_change()[1:])*100

In [23]:
nse.head()

          Date     Close  Close Price_x    Return  Return NSE  Close Price_y
0  01-Dec-2017  10121.80         108.50       NaN         NaN         108.50
1  04-Dec-2017  10127.75         106.40 -1.935484    0.058784         106.40
2  05-Dec-2017  10118.25         108.05  1.550752   -0.093802         108.05
3  06-Dec-2017  10044.10         107.95 -0.092550   -0.732834         107.95
4  07-Dec-2017  10166.70         109.70  1.621121    1.220617         109.70

Calculating covariance

In [18]:
cov = nse['Return NSE'].cov(nse['Return'])

Calculating variance

In [19]:
var = nse['Return NSE'].var()
var

0.6130767968561126

Calculating beta value

In [20]:
Beta = cov/var
Beta

1.2435288643844946

This denotes a volatility that is greater than the broad-based index. As value is not much higher, 
so volatility is not that high and risk is less but at the same time return will also be not as compared to risk-bases stocks